<section class="about-section" id="about">
  <div class="container">
    <h2 hidden>About</h2>
    <div class="pictures-container">
      <ul class="pictures-about">
        <li class="main-about-block">
          <p class="main-about-info">
            I work with people all over the world to create impressive and
            <span class="functional-word">functional</span
            ><span class="website-word"> websites</span> that reflect each
            client's unique personality.
          </p>
        </li>
        <li class="main-about-block">
          <img
            class="my-photo"
            srcset="
              ./img/about/mobile-about.png      343w,
              ./img/about/tablet-about.png      704w,
              ./img/about/desktop-about.png     680w,
              ./img/about/mobile-about@2x.png   686w,
              ./img/about/tablet-about@2x.png  1408w,
              ./img/about/desktop-about@2x.png 1360w
            "
            sizes="(min-width: 1440px) 680px, (min-width: 768px) 704px, (max-width: 767px) 343px"
            src="./img/about/desktop-about.png"
            alt="me"
          />
        </li>
      </ul>
    </div>
    <div class="container-about">
      <ul class="accordion-list">
        <li class="accordion-element">
          <div class="accordion-title">
            <h3 class="accordion-header">About me</h3>
            <button class="arrow" type="button">
              <svg class="arrow-down faq-icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-description">
            <p class="ac-text-about-me">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>

            <p class="ac-text-about-me">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="accordion-element">
          <div class="accordion-title">
            <h3 class="accordion-header">Role</h3>
            <button class="arrow" type="button">
              <svg class="arrow-down faq-icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-description">
            <p class="accordeon-text-content">Frontend development</p>
            <p class="accordeon-text-content">HeadlessCMS,Wordpress</p>
            <p class="accordeon-text-content">Blender(enjoy)</p>
          </div>
        </li>
        <li class="accordion-element">
          <div class="accordion-title">
            <h3 class="accordion-header">Education</h3>
            <button class="arrow" type="button">
              <svg class="arrow-down faq-icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-description">
            <p class="accordeon-text-content">
              2018 - 2019 / Frontend Development Diploma, GoIT IT <br />School,
              New York
            </p>
            <p class="accordeon-text-content">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
              School, New York
            </p>
            <p class="accordeon-text-content">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-container">
      <div class="skills-container">
        <ul class="skills-swiper-wrapper swiper-wrapper">
          <li class="swiper-slide skill-slide">
            <p class="skill-name">HTML/CSS</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">JavaScript</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">React</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">Node.js</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">React Native</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">Figma</p>
          </li>
          <li class="swiper-slide skill-slide">
            <p class="skill-name">Soft Skills</p>
          </li>
        </ul>
      </div>
      <div class="swipe-next-button">
        <button class="button-next" type="button">
          <svg class="svg-arrow-right" width="40" height="40">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
