<section class="about-section">
    <h2 hidden>About</h2>
    <div class="container container-about">
        <ul>
            <li>
                <h3 class="about-header">About me</h3>
                <p>
                    <br> I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of
                    different programming languages and technologies, always ready to improve my skills. I always follow the latest trends
                    and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to
                    effectively solve even the most difficult tasks encountered on the way.<br>
                    <br> Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding
                    optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while
                    maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new
                    technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various
                    programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.<br>
               </p>
               <button class="toggle"></button>
            </li>
            <li>
                <h3 class="about-header">Role</h3>
                <p>
                    <br>Frontend development<br>
                    <br>HeadlessCMS,Wordpress<br>
                    <br>Blender(enjoy)<br>
                </p>
                <button class="toggle"></button>
            </li>
            <li>
                <h3 class="about-header">Education</h3>
                <p>
                    <br>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York<br>
                    <br>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York<br>
                    <br>2020 - 2022 / Advanced Blender Animation Techniques, Udemy<br>
                </p>
                <button class="toggle"></button>
            </li>
        </ul>
    </div>
    <div class="skills">
        <ul class="skills-circles">
            <li class="circle-btn"><h3 class="skill-name">HTML/CSS</h3></li>
            <li class="circle-btn"><h3 class="skill-name">JavaScript</h3></li>
            <li class="circle-btn"><h3 class="skill-name">React</h3></li>
            <li class="circle-btn"><h3 class="skill-name">Node.js</h3></li>
            <li class="circle-btn"><h3 class="skill-name">React Native</h3></li>
            <li class="circle-btn"><h3 class="skill-name">Soft Skills</h3></li>
        </ul>
        <button class="button"></button> 
    </div>
</section>