<section class="container benefits-container" id="benefits">
  <h2 class="benefits-header">Benefits of working with me</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <h4 class="item-header">Expertise</h4>
      <p class="item-description">
        As a highly experienced developer, I have deep knowledge of programming
        and website development.
      </p>
    </li>
    <li class="benefits-item">
      <h4 class="item-header">Communication</h4>
      <p class="item-description">
        Understanding your needs and wants is my priority and I am always open
        to discussions and corrections.
      </p>
    </li>
    <li class="benefits-item">
      <h4 class="item-header">Art</h4>
      <p class="item-description">
        Thanks to my creative nature, I am ready to accept challenges and help
        you bring your ideas to life.
      </p>
    </li>
    <li class="benefits-item">
      <h4 class="item-header">Urgent execution</h4>
      <p class="item-description">
        I understand how important time is to you. Ready to work quickly and
        efficiently, without reducing the quality of work.
      </p>
    </li>
  </ul>
  <button class="btn-order" type="button">Order the project</button>
</section>
