<section class="covers-section">
  <h2 class="visually-hidden">Covers</h2>
  <div class="content">
    <ul class="covers-list">
      <li class="covers-list-item">
        <img class="covers-image" srcset="
            ./img/covers/chego_jewelry.jpg    1x,
            ./img/covers/chego_jewelry@2x.jpg 2x" alt="chego jewelry" />
        <img class="covers-image" srcset="
            ./img/covers/starlight_studio.jpg    1x,
            ./img/covers/starlight_studio@2x.jpg 2x" alt="starlight studio" />
        <img class="covers-image" srcset="
            ./img/covers/vyshyvanka.jpg    1x,
            ./img/covers/vyshyvanka@2x.jpg 2x" alt="vyshyvanka" />
        <img class="covers-image" srcset="
            ./img/covers/green_harvest.jpg    1x,
            ./img/covers/green_harvest@2x.jpg 2x" alt="green harvest" />
        <img class="covers-image" srcset="
            ./img/covers/power_pulse.jpg    1x,
            ./img/covers/power_pulse@2x.jpg 2x" alt="power pulse" />
        <img class="covers-image" srcset="
            ./img/covers/mimino.jpg     1x,
            ./img/covers/mimino@2x.jpg  2x" alt="mimino" />
      </li>
      <li class="covers-list-item">
        <img class="covers-image" srcset="
            ./img/covers/power_pulse.jpg    1x,
            ./img/covers/power_pulse@2x.jpg 2x" alt="power pulse" />
        <img class="covers-image" srcset="
            ./img/covers/mimino.jpg     1x,
            ./img/covers/mimino@2x.jpg  2x" alt="mimino" />
        <img class="covers-image" srcset="
            ./img/covers/fruitbox.jpg     1x,
            ./img/covers/fruitbox@2x.jpg  2x" alt="fruitbox" />
        <img class="covers-image" srcset="
            ./img/covers/englishexcellence.jpg    1x,
            ./img/covers/englishexcellence@2x.jpg 2x" alt="english excellence" />
        <img class="covers-image" srcset="
              ./img/covers/wallet.jpg     1x, 
              ./img/covers/wallet@2x.jpg  2x" alt="wallet" />
        <img class="covers-image" srcset="
              ./img/covers/energy_flow.jpg    1x,
              ./img/covers/energy_flow@2x.jpg 2x" alt="energy flow" />
      </li>
      <li class="covers-list-item">
        <img class="covers-image" srcset="
            ./img/covers/wallet.jpg     1x, 
            ./img/covers/wallet@2x.jpg  2x" alt="wallet" />
        <img class="covers-image" srcset="
            ./img/covers/starlight_studio.jpg    1x,
            ./img/covers/starlight_studio@2x.jpg 2x" alt="starlight studio" />
        <img class="covers-image" srcset="
            ./img/covers/vyshyvanka.jpg    1x,
            ./img/covers/vyshyvanka@2x.jpg 2x" alt="vyshyvanka" />
        <img class="covers-image" srcset="
            ./img/covers/chego_jewelry.jpg    1x,
            ./img/covers/chego_jewelry@2x.jpg 2x" alt="chego jewelry" />
        <img class="covers-image" srcset="
                ./img/covers/mimino.jpg     1x,
                ./img/covers/mimino@2x.jpg  2x" alt="mimino" />
        <img class="covers-image" srcset="
              ./img/covers/green_harvest.jpg    1x,
              ./img/covers/green_harvest@2x.jpg 2x" alt="green harvest" />
      </li>
      <li class="covers-list-item">
        <img class="covers-image" srcset="
            ./img/covers/green_harvest.jpg    1x,
            ./img/covers/green_harvest@2x.jpg 2x" alt="green harvest" />
        <img class="covers-image" srcset="
            ./img/covers/fruitbox.jpg     1x, 
            ./img/covers/fruitbox@2x.jpg  2x" alt="fruitbox" />
        <img class="covers-image" srcset="
            ./img/covers/energy_flow.jpg    1x,
            ./img/covers/energy_flow@2x.jpg 2x" alt="energy flow" />
        <img class="covers-image" srcset="
            ./img/covers/power_pulse.jpg    1x,
            ./img/covers/power_pulse@2x.jpg 2x" alt="power pulse" />
        <img class="covers-image" srcset="
            ./img/covers/starlight_studio.jpg    1x,
            ./img/covers/starlight_studio@2x.jpg 2x" alt="starlight studio" />
      </li>
    </ul>
  </div>
</section>