<section class="covers">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="covers-list">
        <li class="covers-list-item">
            <img src="../img/covers/englishexcellence.jpg" alt="english excellence" width="544" height="314">
        </li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
        <li class="covers-list-item"></li>
    </ul>
</section>