<section class="covers">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
        <ul class="covers-list">
            <li class="covers-list-item">
                <div class="covers-image-thumb">
                    <img class="covers-image" src="../img/covers/chego_jewelry.jpg" alt="chego jewelry">
                    <img class="covers-image" src="../img/covers/starlight_studio.jpg" alt="starlight studio">
                    <img class="covers-image" src="../img/covers/vyshyvanka.jpg" alt="vyshyvanka">

                </div>
            </li>
            <li class="covers-list-item">
                <div class="covers-image-thumb">
                  <img class="covers-image" src="../img/covers/power_pulse.jpg" alt="power pulse">  
                  <img class="covers-image" src="../img/covers/mimino.jpg" alt="mimino">
                  <img class="covers-image" src="../img/covers/fruitbox.jpg" alt="fruitbox">
                  <img class="covers-image" src="../img/covers/englishexcellence.jpg" alt="english excellence">
                </div>
            </li>
            <li class="covers-list-item">
                <div class="covers-image-thumb">
                    <img class="covers-image" src="../img/covers/wallet.jpg" alt="wallet">
                    <img class="covers-image" src="../img/covers/starlight_studio.jpg" alt="starlight studio">
                    <img class="covers-image" src="../img/covers/vyshyvanka.jpg" alt="vyshyvanka">
                    <img class="covers-image" src="../img/covers/chego_jewelry.jpg" alt="chego jewelry">
                </div>
            </li>
            <li class="covers-list-item">
                <div class="covers-image-thumb">
                    <img class="covers-image" src="../img/covers/green_harvest.jpg" alt="green harvest">
                    <img class="covers-image" src="../img/covers/fruitbox.jpg" alt="fruitbox">
                    <img class="covers-image" src="../img/covers/englishexcellence.jpg" alt="english excellence">
                    <!-- <img class="covers-image" src="../img/covers/power_pulse.jpg" alt="power pulse"> -->
                </div>
            </li>
            <li class="covers-list-item">
                <div class="covers-image-thumb">
                    
                    <img class="covers-image" src="../img/covers/starlight_studio.jpg" alt="starlight studio">
                    <img class="covers-image" src="../img/covers/vyshyvanka.jpg" alt="vyshyvanka">
                    <img class="covers-image" src="../img/covers/energy_flow.jpg" alt="energy flow">
                </div>
            </li>
        </ul>
    
    </div>
</section>
