<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-title">faq</h2>

    <ul class="list accordion-container">
      <li class="item">
        <div class="item-box">
          <h4 class="item-title">
            What programming languages are most often used in your project?
          </h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>

      <li class="item">
        <div class="item-box">
          <h4 class="item-title">What are the deadlines for the project?</h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>

      <li class="item">
        <div class="item-box">
          <h4 class="item-title">What payment methods do you accept?</h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>

      <li class="item">
        <div class="item-box">
          <h4 class="item-title">How can I contact you?</h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>

      <li class="item">
        <div class="item-box">
          <h4 class="item-title">Do you provide advice or support?</h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>

      <li class="item">
        <div class="item-box">
          <h4 class="item-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h4>
          <button class="btn-arrow-toggl">
            <svg width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="item-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
