<header class="header">
  <div class="header-container container">
    <!-- logo -->
    <a href="index.html" class="header-logo">
      <picture>
        <source
          srcset="
            ./img/header/header-logo.png    1x,
            ./img/header/header-logo@2x.png 2x
          "
        />
        <img
          class="header-logo-img"
          src="./img/header/header-logo.png"
          alt="portrait"
        />
      </picture>

      jefferson*</a
    >
    <!-- navigation -->
    <nav class="header-nav">
      <button class="menu-btn">Menu</button>
      <ul class="header-menu visually-hidden">
        <li class="header-menu-item">
          <a class="header-menu-link" href="about">About me</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="benefits">Benefits</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="projects">Projects</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <!-- order button -->
    <a href="order" class="header-order">Order the Project</a>
    <!-- mob menu btn -->
    <button class="header-btn" aria-label="mobileMenuOpen">
      <svg class="header-btn-icon" width="28px" height="28px">
        <use href="./img/symbol-defs.svg#icon-mobile-menu-burger"></use>
      </svg>
    </button>
  </div>
  <!-- mob menu -->
  <div class="backdrop change">
    <div class="mobmenu container">
      <button class="mobmenu__close" aria-label="mobileMenuClose">
        <svg class="mobmenu-close-icon" width="28px" height="28px">
          <use href="./img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mobmenu-list">
        <li class="mobmenu-item">
          <a class="mobmenu-link" href="about">About me</a>
        </li>
        <li class="mobmenu-item">
          <a class="mobmenu-link" href="benefits">Benefits</a>
        </li>
        <li class="mobmenu-item">
          <a class="mobmenu-link" href="projects">Projects</a>
        </li>
        <li class="mobmenu-item"><a class="mobmenu-link" href="faq">FAQ</a></li>
      </ul>
      <a href="order" class="mobmenu-order">Order the project</a>
    </div>
  </div>
</header>
