<header class="header">
  <div class="header-container container">
    <a href="/" class="header-logo">
      <img class="header-logo-img" src="../img/logo.png" alt="portrait" />
      jefferson</a
    >
    <nav class="header-nav">
      <button class="menu-btn">Menu</button>
      <ul class="header-menu visually-hidden">
        <li><a href="">About me</a></li>
        <li><a href="">Benefits</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </nav>
    <a href="" class="header-btn">Order the Project</a>
  </div>
</header>
