<section class="">
    <div class="hero container">
      <h1 class="hero-title "> <div> Hello.</div> I’m Fullstack developer Lloyd Jefferson.</h1>
      <ul class="contacts">
        <li class="contacts-list circle-btn">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferer">IG</a>
        </li>
        <li class="contacts-list circle-btn">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferer">FB</a>
        </li>
        <li class="contacts-list circle-btn">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferer">YT</a>
        </li>
        <li class="contacts-list circle-btn">
          <a href="https://github.com/laposhko/NotWizards.YET" target="_blank" rel="noopener noreferer">GH</a>
        </li>
        <li class="contacts-list circle-btn mail">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
</section>
