<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <input type="checkbox" id="switch-theme" />
    <label for="switch-theme"></label>
    <ul class="hero-contacts">
      <li class="contacts-list">
        <a
          class="hero-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferer"
          >IG</a
        >
      </li>
      <li class="contacts-list">
        <a
          class="hero-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferer"
          >FB</a
        >
      </li>
      <li class="contacts-list">
        <a
          class="hero-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferer"
          >YT</a
        >
      </li>
      <li class="contacts-list">
        <a
          class="hero-link"
          href="https://github.com/laposhko/NotWizards.YET"
          target="_blank"
          rel="noopener noreferer"
          >GH</a
        >
      </li>
      <li class="contacts-list mail">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>
