<div class="hero container">
    <h1 class="hero-title">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
<ul class="contacts">
    <li class="contacts-list"><a href="https://www.instagram.com/goitclub/">IG</a></li>
    <li class="contacts-list"><a href="https://www.facebook.com/goITclub/">FB</a></li>
    <li class="contacts-list"><a href="https://www.youtube.com/c/GoIT">YT</a></li>
    <li class="contacts-list"><a href="https://github.com/laposhko/NotWizards.YET">GH</a></li>
    <li class="contacts-list"><a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
</ul>
</div>
