<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/projects.css">
</head>

<body>
    <section class="projects">
        <div class="projects-container container">
            <div class="projects-title-box">
                <h3 class="projects-title">Projects</h3>
            </div>
            <ul class="projects-card-list">
                <li class="projects-card">
                    <div class="projects-tags">
                        <ul class="projects-tags-box">
                            <li class="projects-tags-list">#react</li>
                            <li class="projects-tags-list">#js</li>
                            <li class="projects-tags-list">#node js</li>
                            <li class="projects-tags-list">#git</li>
                        </ul>
                        <div class="projects-card-deskr">
                            <p class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations
                            </p>
                            <a class="projects-link" href="https://github.com/laposhko/NotWizards.YET"
                                target="_blank">See
                                project</a>
                        </div>
                    </div>
                    <div class="projects-image-box">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="../img/projects/projects-expand-desktop.jpg 1x, ../img/projects/projects-expand-desktop@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(min-width: 768px)"
                                srcset="../img/projects/projects-expand-tablet.jpg 1x, ../img/projects/projects-expand-tablet@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(max-width: 375px)"
                                srcset="../img/projects/projects-expand-mob.jpg 1x, ../img/projects/projects-expand-mob@2x.jpg 2x"
                                type="image/jpg" />
                            <img class="projects-image" src="../img/projects/projects-expand-mob.jpg" alt="registration"
                                width="311" height="195" loading="lazy" />
                        </picture>
                    </div>
                </li>

                <li class="projects-card hidden">
                    <div class="projects-tags">
                        <ul class="projects-tags-box">
                            <li class="projects-tags-list">#react</li>
                            <li class="projects-tags-list">#js</li>
                            <li class="projects-tags-list">#node js</li>
                            <li class="projects-tags-list">#git</li>
                        </ul>
                        <div class="projects-card-deskr">
                            <p class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations
                            </p>
                            <a class="projects-link" href="https://github.com/laposhko/NotWizards.YET"
                                target="_blank">See
                                project</a>
                        </div>
                    </div>
                    <div class="projects-image-box">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="../img/projects/projects-petlove-desktop.jpg 1x, ../img/projects/projects-petlove-desktop@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(min-width: 768px)"
                                srcset="../img/projects/projects-petlove-tablet.jpg 1x, ../img/projects/projects-petlove-tablet@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(max-width: 375px)"
                                srcset="../img/projects/projects-petlove-mob.jpg 1x, ../img/projects/projects-petlove-mob@2x.jpg 2x"
                                type="image/jpg" />
                            <img class="projects-image" src="../img/projects/projects-petlove-mob.jpg" alt="petlove"
                                width="311" height="195" loading="lazy" />
                        </picture>
                    </div>
                </li>

                <li class="projects-card hidden">
                    <div class="projects-tags">
                        <ul class="projects-tags-box">
                            <li class="projects-tags-list">#react</li>
                            <li class="projects-tags-list">#js</li>
                            <li class="projects-tags-list">#node js</li>
                            <li class="projects-tags-list">#git</li>
                        </ul>
                        <div class="projects-card-deskr">
                            <p class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations
                            </p>
                            <a class="projects-link" href="https://github.com/laposhko/NotWizards.YET"
                                target="_blank">See
                                project</a>
                        </div>
                    </div>
                    <div class="projects-image-box">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="../img/projects/projects-register-desktop.jpg 1x, ../img/projects/projects-register-desktop@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(min-width: 768px)"
                                srcset="../img/projects/projects-register-tablet.jpg 1x, ../img/projects/projects-register-tablet@2x.jpg 2x"
                                type="image/jpg" />
                            <source media="(max-width: 375px)"
                                srcset="../img/projects/projects-register-mob.jpg 1x, ../img/projects/projects-register-mob@2x.jpg 2x"
                                type="image/jpg" />
                            <img class="projects-image" src="../img/projects/projects-register-mob.jpg" alt="register"
                                width="311" height="195" loading="lazy" />
                        </picture>
                    </div>
                </li>
            </ul>

            <div class="projects-box-arrow">
                <svg width="52" height="52" class="icon-arrow-left">
                    <use href="../img/favicon.svg#icon-arrowprojects-arrow-left"></use>
                </svg>
                <svg width="52" height="52" class="icon-arrow-right">
                    <use href="../img/favicon.svg#icon-arrowprojects-arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>
    <script type="module" src=""></script>
</body>

</html>