<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/projects.css">
</head>

<body>
    <section class="projects">
        <div class="projects-container container">
            <div class="projects-title-box">
                <h3 class="projects-title">Projects</h3>
            </div>
            <div class="projects-card">
                <div class="projects-tags">
                    <ul class="projects-tags-box">
                        <li class="projects-tags-list">#react</li>
                        <li class="projects-tags-list">#js</li>
                        <li class="projects-tags-list">#node js</li>
                        <li class="projects-tags-list">#git</li>
                    </ul>
                    <div class="projects-card-deskr">
                        <p class="projects-card-title">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <a class="projects-link" href="https://github.com/laposhko/NotWizards.YET" target="_blank">See
                            project</a>
                    </div>
                </div>

                <div class="projects-image-box">
                    <img class="projects-image" src="../img/projects/projects-expand-mob.jpg" alt="registration"
                        max-width="311" height="195">
                </div>
            </div>
            <div class="projects-box-arrow">
                <svg width="52" height="52" class="icon-arrow-left">
                    <use href="../img/favicon.svg#icon-arrowprojects-arrow-left"></use>
                </svg>
                <svg width="52" height="52" class="icon-arrow-right">
                    <use href="../img/favicon.svg#icon-arrowprojects-arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>
    <script type="module" src=""></script>
</body>

</html>