<section class="reviews">
  <div class="container">
    <h2 class="review-title">reviews</h2>
    <div class="reviews-swiper">
      <ul class="swiper-wrapper review-list"></ul>
      <div class="review-buttons-wrapper">
        <button class="previous-btn reviews-btn" type="button">
          <svg class="reviews-btn-left-icon arrow-item">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="next-btn reviews-btn" type="button">
          <svg class="reviews-btn-right-icon arrow-item">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
