<section class="reviews container">
  <h4 class="review-title">reviews</h4>
  <div class="swiper">
    <ul class="swiper-wrapper review-list"></ul>
    <div class="arrow-container">
      <button class="rounded-container prev-item" type="button">
        <svg class="arrow-item">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="rounded-container next-item" type="button">
        <svg class="arrow-item">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
