<section class="reviews container">
  <h4 class="review-title">reviews</h4>
  <ul class="review-list"></ul>
  <div class="arrow-container">
    <button class="rounded-container">
      <svg class="arrow-item">
        <use xlink:href="../src/img/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="rounded-container">
      <svg class="arrow-item">
        <use xlink:href="../src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
