.about-section {
    background-color: #242527;
    color: #FAFAFA;
}

.about-header {
    line-height: 1.5;
    letter-spacing: -0.2;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.skills {
    display: flex;
}

.skills-circles {
    display: flex;
    flex-direction: row;
}

.circle-btn {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-btn:hover {
    background-color: #ED3B44;
    border-color: transparent;
}

/* .header-box {
     padding-top: 20px;
     padding-bottom: 50px;
     display: flex;
     align-items: center;
 }

 .header-box {
     justify-content: space-between;
 }

 .social-and-menu {
     display: flex;
     flex-wrap: nowrap;
 }

 .network-list {
     display: flex;
     gap: 12px;
 }

 .network-item {
     width: 44px;
     height: 44px;
     border-radius: 15%;
 }

 .network-icon{
     fill: #FCF9F9;
 }

 .network-link{
     display: flex;
     width: 100%;
     height: 100%;
     border-radius: 15%;
     justify-content: center;
     align-items: center;

     background-color: rgba(252, 249, 249, 10%);
     border: 1px solid rgba(252, 249, 249, 10%);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .network-link:hover,
 .network-link:focus {
     background-color: transparent;
     border-color: #ECD979;
 }

 .mobile-open-button {
     margin-left: 12px;
     border: none;
     background-color: transparent;
     padding: 0;
     line-height: 0;
 }

 .mobile-open-button-icon {
    stroke: #ECD979;
 }

 /* ---MOBILE STYLES---- */
 /* @media screen and (min-width:320px) {
 .container {
     max-width:375px
 }

 .header-nav,
 .address-header {
     display: none;
 }
 }

 /* ---TABLET STYLES---- */
 /* @media screen and (min-width: 768px) {
 .container {
     min-width: 768px;
 }

 .mobile-open-button {
     margin-left: 20px;
 }

 } */

 /* ---DESKTOP STYLES---- */
 /* @media screen and (min-width: 1280px) {

 .container {
     min-width: 1280px;
 }

 .header-nav {
     display: flex;
 }

  .header-list {
     display:flex;
     gap: 25px;
     margin-left: 60px;
     margin-bottom: 0;
     margin-top: 0;
     padding: 0;
 } 

 .header-link {
     display: block;
     font-style: inherit;
     text-transform: uppercase;
     font-style: normal;
     line-height: 0.89;
     letter-spacing: 0em;
     color: #FCF9F9;

     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .header-link:hover,
 .header-link:focus,
 .header-link:active {
     color: #ECD979;
 }

 .address-header {
     display: flex;
     margin-left: auto;
     padding: 14px 28px;
     width: 193px;
     height: 48px;
     border: 1px solid rgba(252, 249, 249, 10%);
     border-radius: 15px;

     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address {
     font-style: normal;
     font-size: 13.8px;
     line-height: 1.43; 
     letter-spacing: 0em;
     color: #FCF9F9;
 }

 .address-header:hover,
 .address-header:focus {
     border: 1px solid #ECD979;
 }

 .network-list {
     margin-left: 20px;
 }

 .mobile-open-button {
     display: none;
 }
 }  */