/* ////////////////MOBILE STYLES////////////////////////*/

.about-section {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-color);
    color: var(--white-text-color);
}

.container-about {
    margin-top: 48px;
}

.pictures-about {
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

.main-about-block {
    width: 343px;
    height: 500px;
    background-color: var(--cards-background-color);
    border-radius: 24px;
}

.main-about-block:first-child {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.my-photo {
    width: 343px;
    height: 500px;
}

.main-about-info {
    font-size: 24px;
    text-transform: uppercase;
}

.functional-word {
    color: var(--accent-color);
}

.website-word {
    color: rgba(250, 250, 250, 0.4);
}

/* ACCORDION STYLES */

.accordion-element:not(:first-child){
    margin-top: 20px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.accordion-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.accordion-title .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    cursor: pointer;
}

.accordion-description {
    height: 0;
    margin-top: 12px;
    overflow: hidden;
    transition: height 300ms ease;
}

.accordion-description.active {
   height: auto;
}

.ac-text-about-me:first-child {
    margin-bottom: 32px;
}

.ac-text-about-me {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.accordeon-text-content{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.accordeon-text-content:not(:last-child) {
    margin-bottom: 10px;
}

.accordion-element::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid var(--button-border-color);
  border-radius: 2px;
}

/* SWIPER STYLES */

.swiper-container {
    display: flex;
    margin-top: 32px;
}

.skills-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.skills-swiper-wrapper  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.skills-swiper-wrapper .skill-slide {
    display: flex;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter Tight', sans-serif;
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-swiper-wrapper .skill-slide:hover {
    background-color: var(--accent-color);
    border-color: transparent;
}

.swipe-next-button .button-next {
    display: flex;
    margin-left: 55px;
    margin-top: 51px;
    margin-bottom: 51px;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.button-next .svg-arrow-right {
    fill: none;
    stroke: var(--arrow-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-next .svg-arrow-right:hover{
    stroke: var(--white-text-color);
}

/* ////////////////TABLET STYLES////////////////////////*/
@media screen and (min-width: 768px) {

.about-section {
    padding-top: 96px;
    padding-bottom: 82px;
}

.container-about {
    margin-top: 64px;
}

.main-about-block {
    width: 704px;
    height: 700px;
}

.my-photo {
    width: 704px;
    height: 700px;
}

.main-about-info {
    font-size: 36px;
}

.main-about-block:first-child {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
}

.accordion-element:not(:first-child){
    margin-top: 32px;
}

.accordion-title .arrow {
    width: 40px;
    height: 40px;
}

.accordion-description {
    margin-top: 8px;
}

.ac-text-about-me:first-child {
    margin-bottom: 16px;
}

.accordion-element::after {
  margin-top: 32px;
}

.swiper-container {
    margin-top: 64px;
}

.skills-swiper-wrapper .skill-slide {
    width: 200px;
    height: 200px;
}

.swipe-next-button .button-next {
    margin-left: 64px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 40px;
    height: 40px;
}

}
/* ////////////////DESKTOP STYLES////////////////////////*/
@media screen and (min-width: 1440px) {
.about-section {
    padding-top: 96px;
    padding-bottom: 82px;
    }

.container-about {
    margin-top: 32px;
}

.pictures-about {
    flex-direction: row;
}
.main-about-block {
    width: 680px;
    height: 700px;
}
.my-photo {
    width: 680px;
    height: 700px;
}

.accordion-description {
    padding-left: 696px;
    padding-right: 68px;
}

.ac-text-about-me:first-child {
    margin-bottom: 32px;
}

.swiper-container {
    margin-top: 96px;
    padding-left: 32px;
    padding-right: 32px;
}

.swipe-next-button .button-next {
    margin-left: 72px;
    margin-top: 90px;
    margin-bottom: 90px;
}
}