.about-section {
    padding-top: 96px;
    padding-bottom: 82px;
    background-color: #1C1D20;
    color: #FAFAFA;
}


 /* ---MOBILE STYLES---- */
 /* @media screen and (min-width:320px) {
 .container {
     max-width:375px
 }

.skills-swiper-wrapper .skill-slide{
    width: 130px;
    height: 130px;
 }

.skills-conatiner {
    overflow: hidden;
    width: 260px;
}

} */


.container-about {
    padding-top: 48px;
}

.pictures-about {
    display: flex;
    flex-direction: row;
    gap: 16px;   
}

.main-about-block {
    width: 680px;
    height: 700px;
    background-color: #242527;
    border-radius: 24px;
}

.main-about-block:first-child {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
}

.my-photo {
    width: 680px;
    height: 700px;
}

.main-about-info {
    font-size: 34px;
    text-transform: uppercase;
}

.functional-word {
    color: #ED3B44;
}

.website-word {
    color: rgba(250, 250, 250, 0.4);
}

.accordion-element:not(:first-child){
    margin-top: 32px;
}

.accordion-title {
    position: relative;
    line-height: 1.5;
    letter-spacing: -0.2;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.accordion-title .arrow {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.accordion-description {
    height: 0;
    margin-top: 8px;
    gap: 10px;
    padding-left: 696px;
    padding-right: 68px;
    overflow: hidden;
    transition: height 300ms ease;
}

.accordion-description.active {
   height: auto;
}

.accordion-element::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 2px;
}

.swiper-container {
    padding-top: 96px;
    position: relative;
}

.skills-container {
  width: 90%;
  height: auto;
  overflow: hidden;
}

.skills-swiper-wrapper .skill-slide {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-swiper-wrapper .skill-slide:hover {
    background-color: #ED3B44;
    border-color: transparent;
}

.swiper-button-next {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 67%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    z-index: 1;
}

.icon-arrow-narrow-right {
    fill: none;
    stroke: #3B3B3B;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-arrow-narrow-right:hover{
    stroke: #FAFAFA
}