/* ========== mobile styles ========== */

.covers-section {
    padding-top: 32px;
    padding-bottom: 32px;    
}

.content {
    position: relative;
    max-width: 375px;
    height: 508px;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(rgba(217, 217, 217, 0.04),
                rgba(217, 217, 217, 0.04)),
            url(../img/covers/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(217, 217, 217, 0.04);
}
   
.covers-list {
    position: absolute;
    top: 24px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.covers-list-item {
    display: flex;
    gap: 24px;
    width: 1818px;
    transform: rotate(16deg);
}

.covers-image {
    width: 282px;
    height: 163px;
}

.in-viewport img {
    animation-name: coversLine;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: infinite;
}

@keyframes coversLine {
    from {
      transform: translateX(-20%);
    }
    
    to {
      transform: translateX(-280%);
    }
}

@media  screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx),
        screen and (min-device-pixel-ratio: 2) {
            .content {
                background-image: linear-gradient(
                    rgba(217, 217, 217, 0.04),
                    rgba(217, 217, 217, 0.04)
                ), 
                url(../img/covers/background@2x.png);
            }
}


/* ========== tablet styles ========== */

@media screen and (min-width: 768px) {
 
    .covers-section {
         padding-top: 48px;
         padding-bottom: 48px;       
    }
    
    .content {
        max-width: 768px;
        height: 960px;
        margin: 0 auto;
    }

    .covers-list {
        gap: 48px;
    }

    .covers-list-item {
        width: 3510px;
        gap: 48px;
    }

    .covers-image {
        width: 544px;
        height: 314px;
    }
}

/* ========== desktop styles ========== */

@media screen and (min-width: 1440px) {

    .covers-section {
        padding-top: 104px;
        padding-bottom: 60px;
    }
    
    .content {
        max-width: 1440px;
    }
}