/* Mobile style */

.faq-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-title {
  color: var(--grey-title-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.btn-arrow-toggl {
  display: flex;
  align-items: center;
  border: 1px solid var(--button-border-color);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.item {
  border-top: 1px solid var(--button-border-color);
  padding: 20px 0;
}

.item-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item-title {
  color: var(--white-text-color);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
}

.item-text {
  margin-top: 16px;
  color: var(--grey-text-color);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;

  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.btn-arrow-toggl svg {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.btn-arrow-toggl.active svg {
  transform: rotate(180deg);
}

/* decktop style */

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 385px;
  }
  .item {
    max-width: 690px;
  }
  .item:nth-child(-n + 3) {
    padding-right: 32px;
    border-right: 1px solid var(--button-border-color);
  }

  .item:nth-child(n + 4) {
    padding-left: 32px;
    border-left: 1px solid var(--button-border-color);
  }

  .item:nth-child(3) {
    min-height: 116.8px;
    border-bottom: 1px solid var(--button-border-color);
  }

  .item:nth-child(6) {
    border-bottom: 1px solid var(--button-border-color);
  }
}
