.header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: transparent;
}

.header-container {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: flex-start;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  font: 500 20px;
  letter-spacing: -0.02em;
}

.header-logo-img {
  margin-right: 8px;
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 80px;
  align-items: center;
  position: relative;
  gap: 8px;
}

.menu-btn {
  display: none;
  font: 500 16px;
  letter-spacing: -0.02em;
  padding: 10px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover {
  color: var(--accent-color);
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: block;
    color: inherit;
    border-bottom: 1px solid;
    padding: 0;
    margin-bottom: 20px;
  }
}

.header-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.header-menu-item {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item:hover {
  scale: 1.2;
  color: var(--accent-color);
  letter-spacing: -0.02em;
  font: 500 16px;
}

.header-order {
  display: none;
  font: 500 16px;
  letter-spacing: -0.02em;
  background-color: var(--accent-color);
  border-radius: 60px;
  width: 163px;
  height: 55px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-order:hover {
  background-color: #e0373f;
  scale: 1.15;
}

@media screen and (min-width: 768px) {
  .header-order {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* header mob menu burger */
.header-btn {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover {
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn-icon {
  stroke: var(--white-text-color);
}

.header-btn-icon:hover {
  stroke: var(--accent-color);
}

/* mob menu */
.backdrop {
  position: fixed;
  z-index: 9;
  top: 0;

  width: 100%;
  height: 100%;
  background-image: url('../img/header/mobmenu-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: -100%;
  transition: right 0.5s ease;
}

div.backdrop-white {
  background-image: url('../img/header/mobile-menu-white.png');

}

.backdrop--show {
  right: 0;
}

.backdrop--hide {
  right: -100%;
}

.mobmenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
}

.mobmenu__close {
  position: absolute;
  top: 32px;
  right: 18px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu__close:hover {
  scale: 1.2;
}

.mobmenu-close-icon {
  stroke: var(--white-text-color);
}

.mobmenu-close-icon:hover {
  stroke: var(--accent-color);
}

.mobmenu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.mobmenu-item {
  border-bottom: 1px solid;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-item:hover {
  color: var(--accent-color);
  scale: 1.2;
}

.mobmenu-order {
  background-color: var(--accent-color);
  border-radius: 60px;
  width: 163px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 16px;
  letter-spacing: -0.02em;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-order:hover {
  background-color: #e0373f;
  scale: 1.15;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .backdrop {
    background-image: url('../img/header/mobmenu-background@2x.png');
  }

  div.backdrop-white {
    background-image: url('../img/header/mobile-menu-white@2x.png');

  }
}