.hero {
  position: relative;
  padding-top: 281px;
  padding-bottom: 32px;
  background-image: url(../img/hero/background-mobile.png);
  background-size: 375px 100%;
  background-repeat: no-repeat;
}

.hero-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--white-text-color);
  width: 343px;
}

.hero-contacts {
  display: flex;
  gap: 0 4px;
  margin: 212px auto 0 auto;
  width: 342px;
}

.contacts-list {
  display: flex;
  justify-content: center;
  border: 1px solid var(--button-border-color);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1;
  padding: 10px 12px;

}

.contacts-list:hover,
.contacts-list:active {
  border: 1px solid var(--white-text-color);
}


.mail {
  display: block;
  width: 178px;
  border-radius: 60px;
}

.hero-link {
  align-self: center;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppi) and (min-width: 320px),
screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .hero {
    background-image: url(../img/hero/background-mobile@2x.png);
  }
}


@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/background-tablet.png);
    background-size: 768px 100%;
    padding-top: 300px;
    padding-bottom: 32px;
  }

  .hero-title {
    font-size: 90px;
    width: 632px;
  }

  .hero-contacts {
    gap: 0 8px;
    margin: 187px 0 0 auto;
    width: 475px;
  }

  .contacts-list {
    width: 55px;
    height: 55px;
    font-size: 16px;

  }

  .mail {
    width: 223px;
    padding: 18px 24px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppi) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: url('../img/hero/background-tablet@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/background-desktop.png);
    background-size: 1440px 100%;
  }

  .hero-title {
    margin: 0 auto;
    width: 1084px;
  }

  .hero-contacts {
    margin-top: 243px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppi) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .hero {
    background-image: url('../img/hero/background-desktop@2x.png');
  }
}