/* Reset styles */
body {
  background-color: var(--background-color);
  color: var(--white-text-color);
  font-family: 'Inter Tight', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
