/* Mobile styles */

.reviews {
  padding-top: 32px;
  padding-bottom: 32px;
}

.review-title {
  color: #fafafa66;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.review-list {
  display: flex;
  margin-bottom: 32px;
}

.review-item {
  width: 343px;
  min-height: 302px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}

.review-avatar-container {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.review-avatar {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.review-author-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.review-author-text {
  color: #fafafa99;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.rounded-container {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 52px;
  height: 52px;
  border: 1px solid #fafafa80;
  padding: 14px;
  border-radius: 60%;
  cursor: pointer;
}

.arrow-item {
  width: 24px;
  height: 24px;
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1140px) {
}
