@import url('./reset.css');
@import url('./about.css');

/* @import url('./header.css');
@import url('./hero.css');

@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./workTogether.css'); */
