@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./covers.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./workTogether.css');

:root {
  --white-text-color: #fafafa;
  --arrow-color: #3b3b3b;
  --accent-color: #ed3b44;
  --background-color: #1c1d20;
  --cards-background-color: #242527;
  --middle-gradient-color: #69292d;
  --button-border-color: #fafafa33;
  --grey-title-color: rgba(250, 250, 250, 0.4);
  --grey-text-color: #fafafa99;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --icon-accent: #450306;
}

.light-theme{
  --white-text-color: #090909;
  --arrow-color: #131212;
  --accent-color: #ed3b44;
  --background-color: #e3e6ed;
  --cards-background-color: #91949b;
  --middle-gradient-color: #69292d;
  --button-border-color: rgba(26, 23, 23, 0.2);
  --grey-title-color: rgba(19, 17, 17, 0.4);
  --grey-text-color: #0b0a0a99;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --icon-accent: #450306;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
