/* ==========MOBYLE STYLES======== */
.order {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../img/workTogether-img/glass-effect-min.png);
  background-repeat: no-repeat;
  background-position: -79% 100%;
  width: 375px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  gap: 8px;
  position: relative;
}

.order-image {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}

.order-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.text-order {
  color: var(--accent-color);
}

.text-title {
  position: absolute;
  top: 48px;
  left: 0;
}

.order-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ==========MOBYLE STYLES======== */
.order {
  padding-top: 32px;
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-position: 20% 100%;
  /* background-attachment: fixed; */
  /* clip-path: margin-box; */
}


.title-container {
  display: flex;
  gap: 8px;
  position: relative;
}

.order-image {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}

.order-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.text-order {
  color: var(--accent-color);
}

.text-title {
  position: absolute;
  top: 48px;
  left: 0;
}

.order-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-field:valid,
.email-field:hover:valid {
  border-bottom: 1px solid var(--succes-message-color);
}

.email-field:invalid,
.email-field:hover:invalid {
  border-bottom: 1px solid var(--not-succes-message-color);
}

.error {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--not-succes-message-color);
}

.succes {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--succes-message-color);
}

.is-hidden {
  display: none;
}

.field {
  font-family: inherit;
  width: 343px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--grey-text-color);
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--button-border-color);
  outline: none;
}

.field:placeholder-shown {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--button-border-color);
}

.field:focus-within {
  border: none;
  border-bottom: 1px solid var(--button-border-color);
}

.field:hover,
.field:focus,
.field:active {
  border: none;
  border-bottom: 1px solid var(--not-succes-message-color);
  scale: 1.05;
}

.comments {
  resize: none;
}

.comments:focus,
.comments:active {
  border-bottom: 1px solid var(--succes-message-color);
}

.order-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  align-items: center;
  margin-bottom: 64px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--button-hover-color);
  scale: 1.05;
}

.order-button:disabled {
  background-color: var(--accent-color);
  scale: 1;
  opacity: 0.5;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.adress-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 60px;
  padding: 10px 12px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item:hover {
  border: 1px solid var(--white-text-color);
  scale: 1.05;
}

.mail-item {
  width: 178px;
  height: 37px;
}

.phone-item {
  width: 122px;
  height: 37px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .order {
    background-image: url(../img/workTogether-img/elements-mob@2x.png);
  }
}

.modal {
  background-color: var(--cards-background-color);
  border: 1px solid var(--modal-border-color);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.modal-message {
  width: 279px;
  height: 148px;
}

.modal-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.modal-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn-icon {
  stroke: var(--white-text-color);
}

.close-btn-icon:hover {
  stroke: var(--accent-color);
  scale: 1.2;
}

/* ==========MOBYLE STYLES======== */

/* ==========TABLET STYLES======== */
@media screen and (min-width: 768px) {
  .order {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/workTogether-img/elements-tablet.png);
  }

  .title-container {
    display: flex;
    gap: 20px;
    position: relative;
  }

  .order-image {
    width: 70px;
    height: 70px;
    border-radius: 24px;
  }

  .order-title {
    font-size: 64px;
  }

  .text-title {
    position: absolute;
    top: 77px;
    left: 0;
  }

  .order-form {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-bottom: 12px;
    align-items: center;
  }

  .field-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .field {
    width: 245px;
    height: 44px;
  }

  .comments {
    padding-top: 10px;
  }

  .order-button {
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }

  .address-list {
    gap: 8px;
  }

  .adress-item {
    font-size: 16px;
    padding: 18px 32px;
  }

  .mail-item {
    width: 239px;
    height: 55px;
  }

  .phone-item {
    width: 176px;
    height: 55px;
  }

  .modal-message {
    width: 364px;
    height: 118px;
  }

  .close-btn-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .order {
    background-image: url(../img/workTogether-img/elements-tablet@2x.png);
  }
}

/* ==========TABLET STYLES======== */

/* ==========DESKTOP STYLES======== */
@media screen and (min-width: 1440px) {
  .order {
    padding-left: 196px;
    background-image: url(../img/workTogether-img/elements-desktop.png);
  }

  .text-title {
    position: absolute;
    top: 80px;
    left: 0;
  }

  .order-form {
    gap: 80px;
  }

  .field {
    width: 390px;
    height: 44px;
  }

  .mail-item {
    width: 239px;
    height: 55px;
  }

  .phone-item {
    width: 176px;
    height: 55px;
  }

  .modal {
    padding: 64px;
    width: 492px;
    height: 246px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .order {
    background-image: url(../img/workTogether-img/elements-desktop@2x.png);
  }
}

/* ==========DESKTOP STYLES======== */